body{
    margin: 0;
    font-family: 'Montserrat', sens-serif;
}

*{
    box-sizing: border-box;
}

.navigation{
    text-align: center;
    padding: 31.5px 70px;
}
.navi-link{
    line-height: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2.7px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #FF0000;
    transition: color .2s linear;
    padding: 0 2px;
    margin: 0 35px;
}

.main-foto{
    display: inline-block;
    width: 100%;
}

.name{
    margin: 0;
    text-align: center;
    padding-top: 48px;
    padding-bottom: 13px;
    font-size: 22px;
    font-style: normal;
    font-family: sans-serif;
    line-height: 27px;
    letter-spacing: 3.3px;
    color: #373737;
}
.some-text{
    padding: 0 67.5px;
    text-align: center;
    margin: 25px auto;
    font-size: 16px;
    font-style: normal;
    line-height: 26px;
    font-family: sans-serif;
    letter-spacing: 2.4px;
    font-style: normal;
    font-weight: normal;
}

.button-line{
    text-align: center;
    padding-top: 21px;
}

.start{
    border: 0;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    font-weight: bold;
    color: #FFFFFF;
    width: 191px;
    height: 51px;
    border-radius: 4px;
    background-color: #ff0000;
    transition: background-color .3s linear;
}

.signature{
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    font-weight: bold;
    text-align: right;
    margin-right: 105px;
    margin-bottom: 29px;
    padding-top: 65px;
}
.start:hover{
    cursor: pointer;
    background-color: #d40000;
}

.navi-link:hover{
    cursor: pointer;
    color:  #d40000; 
}

